{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column">
			<h1 class="heading-large">phrase appears here</h1>
			<!-- <input type="text" name="" class="form-control" value="I am hungry" disabled="true"> -->
			<ul>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
				<li class="makatonImage"><a href="#"><img src="{{ asset_path }}images/makaton-ph.png"></a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}