{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-medium">Makatonics prototypes</h1>
			<p>These prototypes are purely for demoing to the team - not intended for final front end.</p>
			<ul>
				<li>
					<a href="/1-0-0/index">
					Makatonics V1-0-0
					</a>
				</li>
			</ul>
			<!-- <h1 class="heading-medium">Specific features</h1>
			<ul>
				<li>
				</li>
			</ul> -->
			<!-- <h3 class="heading-medium" style="padding-top:20px; margin-top:100px; border-top:1px solid grey">GOV.UK prototype kit resources</h2>
		    <ul>
		    	<li>
		        	<a href="/prototype_help" >GOV prototype kit help</a>
		    	</li>
		    </ul> -->
		</div>
	</div>
</main>

{% endblock %}